{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="2-message" class="form">

    <h1 class="form-title heading-medium">
      What is the nature of your topic?
    </h1>

    <div class="form-group">

      <fieldset>

      <label class="block-label" for="topic-1">
        <input id="topic-1" name="topics" type="checkbox" value="topic-complaint">
        Make a complaint
      </label>
      <label class="block-label" for="wtopic-2">
        <input id="topic-2" name="topics" type="checkbox" value="topic-thankyou">
        Thank you
      </label>
      <label class="block-label" for="topic-3">
        <input id="topic-3" name="topics" type="checkbox" value="topic-foi">
        Make a Freedom of information request
      </label>
      <label class="block-label" for="topic-4" data-target="topic-other-form">
        <input id="topic-4" name="topics" type="checkbox" value="topic-other">
        Other
      </label>
      
      <div class="panel panel-border-narrow js-hidden" id="topic-other-form">
        <label for="topic-other-form-field" class="form-label">
          What is the nature of your topic?
        </label>
        <input class="form-control" type="text" id="topic-other-form-field">
        </div>


      </fieldset>

    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
