{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="3-personal-details.html" class="form">

    <h1 class="form-title heading-large">
      Your complaint
    </h1>

    <div class="form-group">

      <p>​​Have you followed <a href="https://www.gov.uk/how-to-resolve-neighbour-disputes">these steps</a> if you have a dispute with you neighbour?
      </p>
      <p>As a last resort you can take <a href="https://www.gov.uk/how-to-resolve-neighbour-disputes/take-action-through-the-courts">legal action through the courts</a>.
      </p>

      <p>If you wish to process with legal action, <a href="https://www.gov.uk/find-court-tribunal">find a court or tribunal</a> which deals with neighbour disputes.

  </form>

</main>
{% endblock %}
