{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="3-personal-details.html" class="form">

    <h1 class="form-title heading-large">
      Your complaint
    </h1>

    <div class="form-group">
      <p>​The <a href="https://www.gov.uk/government/organisations/ministry-of-justice">
      Ministry of Justice</a> is responsible  these parts of the justice system:
      <ul class="list-bullet">
        <li>courts</li>
        <li>prisons</li>
        <li>probation services</li>
        <li>attendance centres</li>
      </ul>
      </p>
      <p>
        Read more about
        <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about">
        what we do</a>.
      </p>

      <label class="form-label-bold" for="correspondence_message">
        What is your complaint?
      </label>
      <textarea class="form-control" name="correspondence[message]" id="correspondence_message"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
