{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="3-personal-details.html" class="form">

    <h1 class="form-title heading-large">
      Your question
    </h1>

    <div class="form-group">

       <label class="form-label-bold" for="correspondence_message">
        What is your question?
      </label>
      <textarea class="form-control" name="correspondence[message]" id="correspondence_message"></textarea>
    </div>

      <label class="form-label-bold" for="correspondence_message">
        Do you need to attach a document?
      </label>
      <div class="form-group">
        <fieldset class="inline">
          <label class="block-label" for="division-1">
            <input id="division-1" name="divisions" type="radio" value="division-courts">
            yes
          </label>
          <label class="block-label" for="division-2">
            <input id="division-2" name="divisions" type="radio" value="division-prisons">
            no
          </label>
        </fieldset>
      </div>


    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
