{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Your question
        </td>
        <td width="70%">
          {{ question }}
        </td>
        <td class="change-answer">
          <a href="1-court">
            Change <span class="visuallyhidden">your question</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Name
        </td>
        <td>
          {{ fullname }}
        </td>
        <td class="change-answer">
          <a href="2-personal-details">
            Change <span class="visuallyhidden">name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          {{ email }}
        </td>
        <td class="change-answer">
          <a href="2-personal-details">
            Change <span class="visuallyhidden">email</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Postal Address
        </td>
        <td>
          {{ address }}
        </td>
        <td class="change-answer">
          <a href="2-personal-details">
            Change <span class="visuallyhidden">address</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <br>
    <a href="confirmation" class="button">Send</a>
  </div>

</main>

{% endblock %}
