{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Message sent</h1>
        <p>Your reference number is<br>
        <strong class="heading-medium">TO16/36713</strong></p>
      </div>

        <p>We have sent you a confirmation email.</p>
        
        <h2 class="heading-medium">What happens next</h2>
        <p>We aim to respond to complaints within 20 working days.</p>

        <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>



  </div>

</main>

{% endblock %}
