{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your message has been sent</h1><br>
        <!--<p>We have sent you a confirmation email</p>-->
      </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>We aim to respond to questions within 20 working days.</p>
        <br>
        <p><a href="feedback">What did you think of this service?</a> (takes 30 seconds)</p>



  </div>

</main>

{% endblock %}
