{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Your message has been sent</h1><br>
      </div>

        <h2 class="heading-medium">What happens next</h2>
        <p>We’ve sent a confirmation email to <strong>john.smith@example.com</strong></p>
        <p>We will review your message, if we’re able to respond, we’ll do so within 1 month.</p>
        <p>We’ll send any response to the above address.</p>
        <br>
        <p><a href="feedback">How was this online service? </a> (takes 30 seconds)</p>

  </div>
</div>

{% endblock %}
