{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

    <h1 class="form-title heading-xlarge">
      Contact the Ministry of Justice
    </h1>

 <div class="grid-row">
    <div class="column-two-thirds">

  <form action="form-v3" class="form">

    <p class="form-hint">Step 2 of 3</p>
    <p class="heading-medium">Are you contacting the ministry about...</p>

      <div class="form-group">
          <fieldset class="inline">
            <legend><p class="form-label-bold">Courts and tribunals
            <span class="form-hint">For example, are you appearing in a court case, trying to find out about a court building.</span>
            </p></legend>
            <label class="block-label" for="court-question-1">
              <input id="court-question-1" name="court-question" type="radio" value="court">
              Yes
            </label>
            <label class="block-label" for="court-question-2" data-target="prison-question-show">
              <input id="court-question-2" name="court-question" type="radio" value="prison">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset class="inline">
            <legend><p class="form-label-bold">Prisons
            <span class="form-hint">For example, are you trying to find someone in a prison, visit a prison or report something about a prison.</span>
            </p></legend>
            <label class="block-label" for="prison-question-1">
              <input id="prison-question-1" name="prison-question" type="radio" value="court">
              Yes
            </label>
            <label class="block-label" for="prison-question-2">
              <input id="prison-question-2" name="prison-question" type="radio" value="prison">
              No
            </label>
          </fieldset>
        </div>




    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

  </div>
</div>
{% endblock %}