{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">


  <form action="form-v4" class="form">

    <h1 class="form-title heading-xlarge">
      Contact the Ministry of Justice
    </h1>

    <p class="form-hint">Step 3 of 4</p>
    <br>

     <div class="form-group">
      <label class="form-label" for="full-name">Full name</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <label class="form-label" for="ni-number">
        Email
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>
   

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}