{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">


  <form action="form-v3" class="form">

    <h1 class="form-title heading-xlarge">
      Contact the Ministry of Justice
    </h1>

      <div class="form-group">
          <fieldset class="inline">
            <legend><p class="form-label">Is your query about prisons?</p></legend>
            <label class="block-label" for="prison-question-1">
              <input id="prison-question-1" name="prison-question" type="radio" value="court">
              Yes
            </label>
            <label class="block-label" for="prison-question-2">
              <input id="prison-question-2" name="prison-question" type="radio" value="prison">
              No
            </label>
          </fieldset>
        </div>



    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}