{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">

<div class="column-two-thirds">

  <h1 class="form-title heading-xlarge">
    Contact the Ministry of Justice
  </h1>
  <p class="lede">Use this service to send a query to the Ministry of Justice.</p>

  <h2 class="heading-large">Before you start</h2>
 
 <div class="form-group">
    <span class="form-label-bold">If you've already contacted us</span>
    <p>Please be aware it can take up to 20 working days to respond.</p>
  </div>

 <div class="form-group">
    <span class="form-label-bold">If you are already involved in a case</span>
    <p>Contact the court or tribunal dealing with your case.</p>
  </div>
      
  <div class="form-group"> 
   <span class="form-label-bold">To find a court or tribunal</span>
        <p>Use the <a href="https://www.gov.uk/find-court-tribunal">find a court or tribunal</a> service. You will find details such as: contact details, how to get there, and disabled access.</p>
  </div>

  <div class="form-group"> 
   <span class="form-label-bold">To make a complaint about a prison</span>
        <p>Please follow the <a href="https://www.gov.uk/government/organisations/national-offender-management-service/about/complaints-procedure">complaints procedure</a></p>
  </div>

     <div class="form-group">
          <a href="form" class="button button-start">Start now</a>
      <br><br>
    </div>



  

 
  </div>


</main>
{% endblock %}
