{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<div class="column-full">
  <h1 class="form-title heading-xlarge">
    Contact the Ministry of Justice
    <br><span class="lede">Use this service to send a query to the Ministry of Justice.</span>
  </h1>
</div>
<div class="column-two-thirds">

       <div class="form-group">
          <a href="form" class="button button-start">Start now</a>
      <br><br>
    </div>

  <h2 class="heading-large">Before you start</h2>
 
 <div class="form-group">
    <p>It can take up to 20 working days to respond.</p>
    <p>If you're already involved in a case, contact the court or tribunal dealing with your case.</p>
    <p>Use the <a href="https://www.gov.uk/find-court-tribunal">find a court or tribunal</a> service to find details such as: address, contact details, how to get there, and disabled access to the building.</p>
  </div>




  

 
  </div>

{% endblock %}
