{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}


  <h1 class="form-title heading-xlarge">
    Contact the Ministry of Justice
  </h1>

   <div class="grid-row">
    <div class="column-two-thirds">

  <h2 style="margin-top:0px;"" class="heading-large">Before you start</h2>
 
 <div class="form-group">
    <span class="form-label-bold">If you’re waiting for a reply</span>
    <p>It can take up to 1 month for us to respond.</p>

    <span class="form-label-bold">If you’re involved in a court case</span>
    <p>Contact the court or tribunal direct - details will be on every letter from them.</p>

   <span class="form-label-bold">If you want information about a court or tribunal building
</span>
        <p>To check an address, contact details, directions and disabled access information, use <a href="https://www.gov.uk/find-court-tribunal">find a court or tribunal</a>.
  </div>

     <div class="form-group">
          <a href="form" class="button button-start">Start now</a>
      <br><br>
    </div>

  </div>
</p>


{% endblock %}
