{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

   <h1 class="form-title heading-xlarge">
      Contact the Ministry of Justice
    </h1>

 <div class="grid-row">
    <div class="column-two-thirds">

  <form action="step-2" class="form">

    <p class="form-hint">Step 1 of 3</p>
    <br>

     <div class="form-group">
          <fieldset>
            <legend><p class="form-label-bold">Why are you contacting the Ministy of Justice?</p></legend>
            <label class="block-label" for="prison-question-1">
              <input id="prison-question-1" name="prison-question" type="radio" value="court">
              To ask a question
            </label>
            <label class="block-label" for="prison-question-2">
              <input id="prison-question-2" name="prison-question" type="radio" value="court">
              To provide suggestions or feedback
            </label>
            <label class="block-label" for="prison-question-3">
              <input id="prison-question-3" name="prison-question" type="radio" value="prison">
              To make a complaint
            </label>
          </fieldset>
        </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

  </div>
</div>
{% endblock %}