{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Thank you</h1>
        <div class="bold-medium">Your message has been sent</div>
        <p>
          and we will reply shortly.<br>
        </p>
      </div>

      <div class="button-holder"><a role="button" class="button-secondary" href="/web-form/iteration-1">Finish</a></div>


    </div>
  </div>

</main>

{% endblock %}
