{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="confirmation" class="form">

    <h1 class="form-title heading-medium">
      Your details
    </h1>

    <!-- Full name -->
    <div class="form-group">
      <label class="form-label" for="full-name">Full name</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- National Insurance number -->
    <div class="form-group">
      <label class="form-label" for="ni-number">
        Email
        <span class="form-hint">
          We will only use this to send you a response.
        </span>
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

    <div class="form-group">
      <label class="form-label" for="ni-number">
        Email confirmation
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>
   

    <div class="form-group">
      <input type="submit" class="button" value="Send">
    </div>

  </form>

</main>
{% endblock %}
