{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="iteration-2/1-type" class="form">

    <h1 class="form-title heading-medium">
      What would you like to contact us about?
    </h1>

    <div class="form-group">

      <fieldset>

      <label class="block-label" for="division-1">
        <input id="division-1" name="divisions" type="checkbox" value="division-courts">
        Courts and tribunals
      </label>
      <label class="block-label" for="division-2">
        <input id="division-2" name="divisions" type="checkbox" value="division-prisons">
        Prisons and probation
      </label>
      <label class="block-label" for="division-3">
        <input id="division-3" name="divisions" type="checkbox" value="division-legal">
        Legal aid
      </label>
      <label class="block-label" for="division-4" data-target="division-other-form">
        <input id="division-4" name="divisions" type="checkbox" value="division-other">
        Other
      </label>
      
      <div class="panel panel-border-narrow js-hidden" id="division-other-form">
        <label for="division-other-form-field" class="form-label">
          What would you like to contact us about?
        </label>
        <input class="form-control" type="text" id="division-other-form-field">
        </div>

      </fieldset>

    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
