{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="/web-form/iteration-3/complaint" class="form">

    <h1 class="form-title heading-large">
      What is your complaint about?
    </h1>

    <div class="form-group">
      <fieldset>
        <label class="block-label" for="complaint-1">
          <input id="complaint-1" name="complaint" type="radio" value="complaint-moj">
          a Ministry of Justice service 
        </label>
        <label class="block-label" for="complaint-2">
          <input id="complaint-2" name="complaint" type="radio" value="complaint-neighbour">
          a dispute with a neighbour 
        </label>
        <label class="block-label" for="complaint-3" data-target="complaint-other-form">
          <input id="complaint-3" name="complaint" type="radio" value="complaint-other">
          other
        </label>
        
        <div class="panel panel-border-narrow js-hidden" id="complaint-other-form">
          <label for="complaint-other-form-field" class="form-label">
            What is your complaint about?
          </label>
          <input class="form-control" type="text" id="complaint-other-form-field">
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
