{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large">
        About prisons and probation
      </h1>

      <br>
      <span class="form-label-bold">To find someone in prison:</span>
      <p>Use the <a href="https://www.gov.uk/find-prisoner">Prisoner Location Service</a>.</p>

      <br>
      <span class="form-label-bold">If you wish to:</span>
      <ul class="list list-bullet">
        <li>contact someone in prison</li>
        <li>send money</li>
        <li>arrange a visit</li>
      </ul>
      <p>Read the guide on <a href="https://www.gov.uk/staying-in-touch-with-someone-in-prison">staying in touch with someone in prison</a>.</p>

      <br>
      <span class="form-label-bold">To make a complaint about:</span>
      <ul class="list list-bullet">
        <li>prisons</li>
        <li>treatment in custody</li>
      </ul>


      <p>Follow the <a href="https://www.gov.uk/government/organisations/national-offender-management-service/about/complaints-procedure">complaints procedure</a>.

      <form action="2-personal-details" class="form">

        <div class="form-group">
        <br><br>
          <label for="message" class="form-title heading-medium">What is your question?
            <span class="form-hint">We can only respond if you write in English</span>
          </label>
          <textarea id="message" class="form-control" name="correspondence[message]" id="correspondence_message"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
