{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="3-personal-details" class="form">

    <h1 class="visually-hidden">
      What is your question?
    </h1>

    <div class="form-group">
      <label class="form-title heading-large">What is your question?</label>
      <textarea class="form-control" name="correspondence[message]" id="correspondence_message"></textarea>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
