{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="confirmation" class="form">

    <h1 class="form-title heading-large">
      Your details
    </h1>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">First name</label>
      <input name="fullname" type="text" class="form-control" id="full-name">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Last name</label>
      <input name="fullname" type="text" class="form-control" id="full-name">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Email
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <label class="block-label" for="division-1" data-target="role-type">
          <input id="division-1" name="divisions" type="checkbox" value="division-courts">I am writing on behalf of a business
        </label>
      </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
          <div class="panel panel-border-narrow js-hidden" id="role-type">  
            <label for="topic-other-form-field" class="form-label-bold">What is your role?</label>
            <label class="block-label" for="division-1">journalist
              <input id="division-1" name="divisions" type="radio" value="division-courts"></label>
            <label class="block-label" for="division-1">member of parliament
              <input id="division-1" name="divisions" type="radio" value="division-courts"></label>
            <label class="block-label" for="division-2">solicitor
              <input id="division-2" name="divisions" type="radio" value="division-prisons"></label>
          </div>
        </fieldset>
      </div>







   

    <div class="form-group">
      <input type="submit" class="button" value="Send">
    </div>

  </form>

</main>
{% endblock %}
