{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="4-contact-details" class="form">

    <h1 class="form-title heading-large">
      What is your name?
    </h1>

     <div class="form-group">
      <label class="form-label-bold" for="first-name">First name</label>
      <input name="first-name" type="text" class="form-control" id="first-name">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="last-name">Last name</label>
      <input name="last-name" type="text" class="form-control" id="last-name">
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <label class="form-label-bold">
          Are you writing on behalf of a group?
          <span class="form-hint">For example a journalist or Member of Parliament</span>
        </label>
        <label class="block-label" for="role-yes" data-target="role-type">
          <input id="role-yes" name="roles" type="radio">Yes
        </label>
        <label class="block-label" for="role-no">
          <input id="role-no" name="roles" type="radio">No
        </label>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <div class="panel panel-border-narrow js-hidden" id="role-type">  
          <p class="form-label-bold">What is your role?</p>
          <label class="block-label" for="role-type-1">campaign group
            <input id="role-type-1" name="role-types" type="radio">
          </label>
          <label class="block-label" for="role-type-2">charity
            <input id="role-type-2" name="role-types" type="radio">
          </label>
          <label class="block-label" for="role-type-3">media
            <input id="role-type-3" name="role-types" type="radio">
          </label>
          <label class="block-label" for="role-type-4">MP/peer
            <input id="role-type-4" name="role-types" type="radio">
          </label>
          <label class="block-label" for="role-type-5">trade union
            <input id="role-type-5" name="role-types" type="radio">
          </label>
          <label class="block-label" for="role-type-6" data-target="role-other">other
            <input id="role-type-6" name="role-types" type="radio">
          </label>
          
          <div class="form-group">
            <div class="js-hidden" id="role-other">
              <label class="form-label-bold" for="role-other-description">What group are you writing on behalf of?</label>
              <input name="role-other-description" type="text" class="form-control" id="role-other-description">
            </div>
          </div>

        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
