{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="confirmation" class="form">

    <h1 class="form-title heading-large">
      Your details
    </h1>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">First name</label>
      <input name="fullname" type="text" class="form-control" id="full-name">
    </div>
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Last name</label>
      <input name="fullname" type="text" class="form-control" id="full-name">
    </div>
    <div class="form-group">


    <div class="form-group">
      <label class="form-label-bold" for="correspondence_user_id">Role</label>
        <select class="form-control drafter_select" name="correspondence[user_id]" id="correspondence_user_id">
          <option value="">Please select</option>
          <option value="1">Charity</option>
          <option value="2">Commercial organisation</option>
          <option value="3">Local Authority</option>
          <option value="4">Member of the public</option>
          <option value="5">MP</option>
          <option value="3">Press</option>
          <option value="4">Solicitor</option>
          <option value="5">Other</option>
        </select>
    </div>


    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Email
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>

   

    <div class="form-group">
      <input type="submit" class="button" value="Send">
    </div>

  </form>

</main>
{% endblock %}
