{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Your question
        </td>
        <td width="70%">
        <p>Dear Ministry of Justice,</p>
        
        <p>I would like to make a complaint about the condition of Lambeth County Court.</p>
        
        <p>Last week I had to attend a hearing at the court, and firstly I found it very hard to find. There was no clear signage from the main roads, and I ended up having to ask several people passing for directions. I ended up arriving slightly late, but was left to wait an extra half an hour anyway. Also the staff at the x ray machine weren't very helpful when I asked where I should go.</p>
        
        <p>Any way the waiting room I had to sit in was in a terrible state. I don't think a cleaner had been around the night before, as it was only 10:45am when I arrived and there was empty Redbull cans and crisp wrappers on the seat next to me. It was also full of people and was incredibly hot. I tried to open the windows and they can't be opened!!</p>
        
        <p>This court is very old and dusty and looks like it should be renovated. I really think you should invest some money in this, as people who come to court are already stressed and they don't need to be left to feel like no body cares. I also think you should have free wifi available so people can access any documents they need to prepare themselves.</p>
        
        <p>Please make this court a better place to have to wait, and speak to your staff about being more helpful and friendly, as I don't need to deal with rude people when going to court.</p>
        
        <p>Kindest regards,</p>
        
        <p>Christina Christensen</p>
        </td>
        <td class="change-answer">
          <a href="1-court">
            Change <span class="visuallyhidden">your question</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Name
        </td>
        <td>
          John Smith
        </td>
        <td class="change-answer">
          <a href="2-personal-details">
            Change <span class="visuallyhidden">name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          johnsmith@example.com
        </td>
        <td class="change-answer">
          <a href="3-contact-details">
            Change <span class="visuallyhidden">email</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <br>
    <a href="confirmation" class="button">Send</a>
  </div>

</main>

{% endblock %}
