{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-medium">
        What is your email?
      </h1>

      <form action="confirmation" class="form">

        <div class="form-group">
          <label class="form-label-bold" for="ni-number">
            Email
          </label>
          <input type="text" class="form-control" id="ni-number">
        </div>

        <div class="form-group">
          <details>
            <summary><span class="summary">I don't have an email address</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                If you don’t have an email address, we can reply to your enquiry by post.
              </p>
              <label class="form-label-bold" for="ni-number">
                Full address
              </label>
              <textarea rows="4" class="form-control"></textarea>
            </div>
          </details>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Send message">
        </div>

      </form>
      
    </div>
  </div>

</main>
{% endblock %}
