{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="/web-form/iteration-4/intention" class="form">

    <h1 class="form-title heading-large">
      I would like to submit a:
    </h1>
    <div class="form-group">
      
      <fieldset>
       <label class="block-label" for="category-1">
	        <input id="category-1" name="category" type="radio" value="question">
          question
        
        </label>
        <label class="block-label" for="category-2">
	        <input id="category-2" name="category" type="radio" value="comment">
          comment/feedback
	      </label>
	      
        <label class="block-label" for="category-3">
	        <input id="category-3" name="category" type="radio" value="complaint">
          complaint
	      </label>
      </fieldset>

    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
