{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to contact the Ministry of Justice about:</p>

      <ul class="list list-bullet">
	      <li>courts</li>
	      <li>prisons</li>
	      <li>probation services</li>
	      <li>attendance centres</li>
      </uL>

      <p>
        Read more about
        <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about">
        what we do</a>.
      </p>

      <p>This service takes around 10 minutes.</p>

      <p>
        <a class="button button-start" href="iteration-4/0-type" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also contact us by post by writing to:</p>
      <p>102 Petty France<br> 
		London<br>
		SW1H 9AJ</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <p>We can only respond if you write in English.</p>

    </div>
 
  </div>

</main>

{% endblock %}
