{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block page_content %}

<main id="content" role="main">


  <form action="confirmation" class="form">

    <h1 class="form-title heading-xlarge">
      Contact the Ministry of Justice
    </h1>

      <div class="form-group">
          <fieldset>
            <legend><p class="form-label-bold">What would you like to contact us about?</p></legend>
            <label class="block-label" for="questiontype-1">
              <input id="questiontype-1" name="questiontype" type="radio" value="court">
              courts and tribunals
            </label>
            <label class="block-label" for="questiontype-2">
              <input id="questiontype-2" name="questiontype" type="radio" value="prison">
              prisons and probation
            </label>
            <label class="block-label" for="questiontype-3">
              <input id="questiontype-3" name="questiontype" type="radio" value="legalaid">
              legal aid
            </label>
            <label class="block-label" for="question-type4">
              <input id="question-type4" name="questiontype" type="radio" value="other">
              something else
            </label>
          </fieldset>
        </div>

    <div class="form-group">
      <label class="form-label-bold" for="correspondence_message">Message</label>
      <textarea class="form-control" name="correspondence[message]" id="correspondence_message"></textarea>
    </div>

     <div class="form-group">
      <label class="form-label-bold" for="full-name">Full name</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- National Insurance number -->
    <div class="form-group">
      <label class="form-label-bold" for="ni-number">
        Email
      </label>
      <input type="text" class="form-control" id="ni-number">
    </div>
   

    <div class="form-group">
      <input type="submit" class="button" value="Send">
    </div>

  </form>

</main>
{% endblock %}