{% extends "layout.html" %}

{% block page_title %}
  Contact the Ministry of Justice
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    {% if serviceName %} {{ serviceName }} {% endif %}
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>Use the new alpha service to contact the Ministry of Justice.</p>

      <p>
        <a class="button button-start" href="iteration-5/0-type" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>If you do not wish to use the alpha service, you can email us at:
      <a href="mailto:general.queries@justice.gsi.gov.uk">general.queries@justice.gsi.gov.uk</a>

      <p>You can also write to us at:</p>
      <p>102 Petty France<br> 
		London<br>
		SW1H 9AJ</p>

    <p>If you wish to submit an Freedom of Information (FOI) request, <br>email <a href="">data.access@justice.gsi.gov.uk</a>.

    </div>
 
  </div>

</main>

{% endblock %}
