{% extends "layout.html" %}

{% block page_title %}
  Prototype - Ask tool
{% endblock %}

{% block page_content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Prototype - Ask tool</h1>

			<h2 class="heading-medium">Iterations</h2>

				<table>
					<tr>
						<td><a href="web-form/iteration-1">Iteration 1</a></td>
						<td>2 August 2016</td>
						<td>Sprint 1 demo</td>
					</tr>
					<tr>
						<td><a href="web-form/iteration-2">Iteration 2</a></td>
						<td>3 August 2016</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="web-form/iteration-3">Iteration 3</a></td>
						<td>5 August 2016</td>
						<td>Sprint 2 demo</td>
					</tr>
					<tr>
						<td><a href="web-form/iteration-4">Iteration 4</a></td>
						<td>11 August 2016</td>
						<td></td>
					</tr>
				</table>


    </div>
  </div>
</main>

{% endblock %}


