{% extends "layout.html" %}

{% block page_title %}
  Prototype - Ask tool
{% endblock %}

{% block page_content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Prototype - Ask tool</h1>

			<h2 class="heading-medium">Latest</h2>
      <a href="web-form/index.html">Latest webform</a>

      <h2 class="heading-medium">Archived</h2>
      <table>
				<tr>
          <td>
            <a href="http://aaq-public-v-1-1.herokuapp.com/webform/index.html">Version 1 - Iteration 1</a>
          </td>
					<td>2 August 2016</td>
					<td>Sprint 1 demo</td>
				</tr>
        <tr>
					<td><a href="http://aaq-public-v-1-2.herokuapp.com/webform/index.html">Version 1 - Iteration 2</a></td>
					<td>3 August 2016</td>
					<td></td>
				</tr>
        <tr>
					<td><a href="http://aaq-public-v-2-1.herokuapp.com/webform/index.html">Version 2 - Iteration 1</a></td>
					<td>5 August 2016</td>
					<td>Sprint 2 demo - Triage example</td>
				</tr>
        <tr>
					<td><a href="http://aaq-public-v-2-2.herokuapp.com/webform/index.html">Version 2 - Iteration 2</a></td>
					<td>11 August 2016</td>
					<td>Sprint 3 demo</td>
				</tr>
			</table>


    </div>
  </div>
</main>

{% endblock %}
