{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA PROTOTYPE</strong>
    <span>This is a design concept for the new service – your feedback will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

    	<h1 class="heading-xlarge">Correspondence tool public prototype</h1>

			<h2 class="heading-medium">Iterations</h2>

				<table>
					<tr>
						<td><a href="web-form/iteration-1">Iteration 1</a></td>
						<td>2 August 2016</td>
					</tr>
					<tr>
						<td><a href="web-form/iteration-2">Iteration 2</a></td>
						<td>3 August 2016</td>
					</tr>
					<tr>
						<td><a href="web-form/iteration-3">Iteration 3</a></td>
						<td>5 August 2016</td>
					</tr>
				</table>


    </div>
  </div>
</main>

{% endblock %}


